Django >= 4.0.2
dj-database-url >= 0.5.0
django-configurations >= 2.3.2
django-allauth >= 0.47.0
django-debug-toolbar >= 3.2.4
django-registration >= 3.2
argon2-cffi >= 21.3.0
argon2-cffi-bindings >= 21.2.0
crispy-bootstrap5 >= 0.6
drf-yasg >= 1.20.0
djangorestframework >= 3.13.1
django-versatileimagefield >= 2.2
#python-magic-bin>=0.4.14